<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("head") %>
    <title><%= title %></title>
  </head>
  <body>
    <!-- Navigation-->
    <%- include("navbar") %>

    <!-- Page Header-->
    <%- include("header") %>

    <!-- Main Content-->
    <%- include(pageContent) %>

    <!-- Footer-->
    <%- include("footer") %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
